# KiCad
*.kicad_pcb linguist-generated
*.kicad_sch linguist-generated
*.sch linguist-generated
*.net linguist-generated

# Gowin / raporty / wygenerowane webowe wyniki
impl/** linguist-generated
output/** linguist-generated
out/** linguist-generated
build/** linguist-generated
docs/** linguist-documentation

# jeśli masz konkretny katalog z htmlami:
*.html linguist-generated
*.htm linguist-generated

# Domyślnie traktuj jako tekst i normalizuj do LF
* text=auto

# Pliki projektowe – bez zmian
*.gprj.user -text
*.gprj -text

# KiCad
*.kicad_pcb -text
*.kicad_sch -text
*.sch -text

# Gowin - pliki mylone z F#
*.fs linguist-generated
*.fs linguist-detectable=false

# opcjonalnie jeśli są:
*.fsi linguist-detectable=false
*.fsx linguist-detectable=false
